body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

@keyframes agrandarAchicar {
  0% { transform: scale(1); }
  50% { transform: scale(0.95); }
  100% { transform: scale(1); }
}

:root {
  --bg-main: url(/public/assets/Wallpaper2.jpg);
  --bg-header: rgba(255, 255, 255, 0.3);
  --bg-container: rgba(255, 255, 255, 0.6);
  --text-color: #000;
  --header-shadow: rgba(53, 53, 53, 0.1);
  --bg-nav-button: white;
}

/* Configuraciones del modo oscuro basicas */
.App.dark {
  --bg-main: url(/public/assets/Wallpaper1.jpg);
  --bg-header: rgba(30, 30, 30, 0.7);
  --bg-container: rgba(40, 40, 40, 0.7);
  --text-color: white;
  --header-shadow: black;
  --bg-nav-button: black;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg-main);
  color: var(--text-color);
  transition: 0.3s, color 0.3s;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: var(--bg-main);
  color: var(--text-color);
}

/* Header y footer con efecto glass */

.glass-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 12px 24px;
  background: var(--bg-header);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px var(--header-shadow);
  color: inherit;
}

.glass-footer {
  text-align: center;
  padding: 12px 0;
  margin: 20px;
  background: var(--bg-header);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px var(--header-shadow);
  color: inherit;
}

.logo,
.nav-link,
.page-content,
.Container,
.glass-footer {
  color: inherit;
}

/* Configuraciones del NAV */

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  animation: agrandarAchicar 3s ease-in-out infinite;
}

nav {
  display: flex;
  gap: 20px;
}

.nav-links {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 10px;
  transition: 0.3s;
  color: inherit;
}

.nav-links.active {
  font-size: large;
  font-weight: bold;
}

.nav-button {
  margin-left: 16px;
  padding: 6px 12px;
  border-radius: 10px;
  border: none;
  background: var(--bg-nav-button);
  color: var(--text-color);
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s, color 0.3s;
  backdrop-filter: blur(10px);
}

.nav-button:hover {
  background: rgb(202, 202, 202);
  animation: agrandarAchicar 3s ease-in-out infinite;
  box-shadow: 0 8px 32px var(--header-shadow);
}
.nav-button.dark:hover {
  background: #353535;
}

/* Configuracion de contenido de paginas */

.page-content {
  flex: 1;
  padding: 40px 20px;
  color: var(--text-color);
}

.Titulo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  animation: agrandarAchicar 3s ease-in-out infinite;
  color: inherit;
}

.Text {
  line-height: 1.6;
}

.Container {
  background: var(--bg-container);
  backdrop-filter: blur(2px);
  border-radius: 16px;
  padding: 10px;
  margin: 20px auto;
  max-width: 800px;
  color: inherit;
  transition: transform 0.5s;
}

.Container:hover {
  transform: scale(1.01);
}

.GridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
  gap: 10px;
}

/* Configuracion del scroll */

.scrollable {
  width: 90%;
  height: 55vh;
  overflow: auto;
}

.scrollable::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scrollable::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 6px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #f0f0f0;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #000 #f0f0f0;
}
